<div id='logged_out_div'>
        <span>Welcome to </span><h1 class='logged_out_item'>Gohan</h1><span> !</span>
        <p class='logged_out_item'>Find and leave reviews for your favorite restaurants and shops!</p>
        <%= button_to 'Sign In', new_user_session_path %>
</div>