// Entry point for your Sass build

a.index_business {
    color: initial;
    text-decoration: none;
    p {
        width: fit-content;
        border: solid 1px black;
        padding: .2rem;
    }
}